body {
    font-family: Segoe UI;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    text-align: center;
    line-height: 20px;
}

.subtitle {
    text-align: center;
    line-height: 10px;
}

.nav {
    text-align: center;
}

.link:link, .link:visited {
    color: gray;
    text-decoration: none;
}

.link:hover, .link:active {
    color: blue;
    text-decoration: none;
}
